body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 19px;
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

#details{
	position:absolute;
	top:600px;
	left:120px;
}

#titleBox{
	position:absolute;
	top:3px;
	left:195px;
	
	background-color:Transparent;
	border:none;
	text-align:center;
}

#titleBox[type="text"]{
	font-family:akrobat-black;
    font-size:23px;
	color:white;
	text-transform: uppercase;
	letter-spacing:2px;
}

#spacer-1-background-1{
	padding: 20px;
	
	width:650px;
	height:33px;

	background-image: linear-gradient(to right, Transparent, white 50%, Transparent 100%);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	opacity:0.1;
}

#description{
	position:absolute;
	top:250px;
	left:0px;
	
	width:650px;
	height: 200px;
	
	background-color:Transparent;
	border:solid 3px rgba(255,255,255,0.1);
	border-radius:10px;
	
	font-family:akrobat-reg;
    font-size:23px;
	color:white;
	text-transform: uppercase;
	letter-spacing:2px;
}

/* Style the tab */
.tab {
	position:absolute;
	top:605px;
	right:200px;
	
	width:500px;
	height:40px;
	
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.12);
	border-radius:10px;
    background-color: Transparent;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 20px;
    transition: 0.3s;
    font-size: 17px;
	text-align: center;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
    background-color: #e46666;
} */

/* Create an active/current tablink class */
.tab button.active {
    background-color: #cc5454;
}

/* Style the tab content */
.tabcontent {
	position:absolute;
	top:645px;
	right:200px;
	
	width:500px;
	height:405px;
	
    display: none;
    padding: 6px 12px;
    border: 3px solid rgba(255,255,255,0.10);
	border-radius:10px;
    border-top: none;
}

.tab-text{
	font-family:myriad-pro-bold;
	font-size:18;
	color:white;
}

#inv-btn{
	position:absolute;
	left:0px;
	width:50%;
}

#sug-btn{
	position:absolute;
	right:0px;
	width:50%;
}

#inv-btn-text{
	position:absolute;
	top:5px;
	left:42%;
}

#sug-btn-text{
	position:absolute;
	top:5px;
	left:33%;
}

#invite-members-list{
	list-style:none;
	max-height:360px;
	margin-top:0;
	overflow:auto;
	padding-top:0px;
	text-indent:10px;
}

#suggested-members-list{
	list-style:none;
	max-height:360px;
	margin-top:0;
	overflow:auto;
	padding-top:0px;
	text-indent:10px;
}

li{
	list-style-position:inside;
	border-bottom: 5px solid rgba(255, 255, 255, 0.4);

	line-height:40px;

	margin-left:-50px;
	margin-right:20px;
	
	text-align:center;
	font-family:akrobat-black;
	font-size:22px;
	color:white;
}

#members-search-bar{
	position:absolute;
	top:1010px;
	right:200px;
	
	height:40px;
	width:500px;
	
	padding-left:15px;
	
	background-color: Transparent;
	background-image: url(../images/meeting/search-icon.png);
	background-repeat: no-repeat;
	background-size:20px 20px;
	background-position: 97%;
	
	border:none;
	border-top:2px solid rgba(255,255,255,0.1);
	border-radius:10px;
}

#members-search-bar[type="text"]{
	font-family:akrobat-reg;
	font-size:22px;
	color:white;
}

.member-btn{
	background-color:Transparent;
	border:none;
	width:450px;
	padding:10px;
	
/* 	display:block;margin:10px; */
}

.member-btn span{
	display:block;float:right;width:50%;margin-left:10px;
}

#container{
	position:absolute;
	top:375px;
	
	height:210px;
	width:1800px;
	
	display: block;
}

.container-class{
	text-align:center;
}

#name-container{
	position:relative;
	top:375px;
	display: block;
}

.name-container-class{
	width:150px;
	height:30px;
	
	max-width:150px;
	max-height:30px;
	
	text-align:center;
}

.footer-btn{
	width:220px;
	border:2px solid white;
	border-radius:10px;
}

.footer-btn-text{
	font-family:akrobat-black;
	font-size:22px;
	color:white;
	
	margin-top:10px;
}

#save{
	
	position:absolute;
	left:1100px;
	top:1115px;

	width:270x;
	height:90px;
	
	background-color:#54cda7;
}

#continue{
	position:absolute;
	left:1380px;
	top:1115px;

	width:270x;
	height:90px; 
	
	background-color:#54cda7;
}

#delete{
	position:absolute;
	left:400px;
	top:1115px;

	width:270x;
	height:90px;
	
	background-color:#cc5454;
}

#create-back{
	position:absolute;
	left:120px;
	top:1115px;

	width:270x;
	height:90px;
	
	background-color:#cc5454;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

