body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:500px;
	top:30px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}

#prof-pic{
	position:relative;
	width:150px;
	height:150px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#profile-txt{
	position:absolute;
	top:100px;
	left:250px;
	font-family:myriad-pro-reg;
	font-size:15px;
	color: white;
}

#name{
	font-size:30px;
}

#role{
	margin-left:30px;
}
#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:115px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}


#meeting-time{
    position:absolute;
    
    top:400px;
    left:400px;
    font-family:akrobat-reg;
    font-size:28px;
    color:white;
    letter-spacing:3px;
}

#meeting-information{
    top:450px;
    left:400px;
    width:1300px;
    height:150px;
    background-color:whitesmoke;
    position:absolute;
    color:white;
    border-radius:10px;
    opacity:0.3;
}

#meeting-1{
    top:475px;
    left:450px;
    width:100px;
    height:100px;
    background-image:url(../images/dashboard/meetingicon.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position:absolute;
    border-radius:50px;
}

#meeting-1-txt{
    position:absolute;
    
    top:475px;
    left:580px;
    font-family: akrobat-black;
    font-size: 20px;
    color:white;
}
#meeting-1-number{
    position:absolute;
    
    top:515px;
    left:580px;
    font-family: akrobat-black;
    font-size: 35px;
    color:white;
}
#meeting-1-month{
    position:absolute;
    
    top:525px;
    left:635px;
    font-family: akrobat-reg;
    font-size: 25px;
    color:white;
}

#kolona1{
    position:absolute;
    
    top:475px;
    left:805px;
    width:2px;
    height: 100px;
    background-color:white;
    
}


#meeting-2{
    top:475px;
    left:850px;
    width:100px;
    height:100px;
    background-image:url(../images/dashboard/meetingicon2.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position:absolute;
    border-radius:50px;
}

#meeting-2-txt{
    position:absolute;
    
    top:475px;
    left:980px;
    font-family: akrobat-black;
    font-size: 20px;
    color:white;
}
#meeting-2-number{
    position:absolute;
    
    top:515px;
    left:990px;
    font-family: akrobat-black;
    font-size: 40px;
    color:white;
}
#meeting-2-month{
    position:absolute;
    
    top:525px;
    left:1035px;
    font-family: akrobat-reg;
    font-size: 25px;
    color:white;
}

#kolona2{
    position:absolute;
    
    top:475px;
    left:805px;
    width:2px;
    height: 100px;
    background-color:white;
    
}

#meeting-3{
    top:475px;
    left:1250px;
    width:100px;
    height:100px;
    background-image:url(../images/dashboard/meetingicon3.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-color:white;
    position:absolute;
    border-radius:50px;
}

#meeting-3-txt{
    position:absolute;
    top:475px;
    left:1380px;
    font-family: akrobat-black;
    font-size: 20px;
    color:white;
}
#meeting-3-number{
    position:absolute;
    
    top:515px;
    left:1390px;
    font-family: akrobat-black;
    font-size: 40px;
    color:white;
}
#meeting-3-month{
    position:absolute;
    
    top:525px;
    left:1435px;
    font-family: akrobat-reg;
    font-size: 25px;
    color:white;
}

#kolona3{
    position:absolute;
    
    top:475px;
    left:1205px;
    width:2px;
    height: 100px;
    background-color:white;
    
}

#meeting-today{
    top:605px;
    left:400px;
    font-family:akrobat-reg;
    font-size:28px;
    letter-spacing:1px;
    position:absolute;
    color:white;
}

#imeetmeetings-txt{
    position:absolute;
    top:670px;
    left:120px;
    font-family:akrobat-black;
    font-size:20px;
    color:white;
}
#imeetmeetings{
    position:absolute;
    
    top:660px;
    left:20px;
    width:380px;
    height: 50px;
    background-color:whitesmoke;
    opacity:0.3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
}

#imeetmeetings2{
    position:absolute;
    
    top:660px;
    left:20px;
    width:380px;
    height: 50px;
    background-color:whitesmoke;
    opacity:0.5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
}

#myimeetmeetings{
    position:absolute;
    
    top:710px;
    left:20px;
    width:380px;
    height: 50px;
    background-color:whitesmoke;
    opacity:0.5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
}

#myimeetmeetings2{
    position:absolute;
    
    top:710px;
    left:20px;
    width:380px;
    height: 50px;
    background-color:whitesmoke;
    opacity:0.3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
}

#myimeetmeetings-txt{
    position:absolute;
    top:720px;
    left:120px;
    font-family:akrobat-black;
    font-size:20px;
    color:white;
}


#my1imeetmeetings{
    position:absolute;
    top:760px;
    left:20px;
    width:380px;
    height: 50px;
    background-color:whitesmoke;
    opacity:0.5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
}

#PastYear{
    position:absolute;
    top:770px;
    left:120px;
    font-family:akrobat-black;
    font-size:20px;
    color:white;
    
}

div.meetings-scedule{
    position:left;
    top:660px;
    left:400px;
    width:1300px;
   
    position:absolute;
    color:white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    opacity:;
    overflow:auto;
    height:500px;
}

.meetings-scedule-background{
    top:660px;
    left:400px;
    width:1300px;
    position:absolute;
    background-color:white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    opacity:0.3;
    height:500px;
}

#toprwtoM{
    position:absolute;
    top:40px;
    left:50px;
    width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
    
}

#todeuteroM{
    position:absolute;
    top:40px;
    left:450px;
    width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
    
}

#totritoM{
    position:absolute;
    top:40px;
    left:900px;
    width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
    
}

#toprwtoM-profile{
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height: 60px;
    
    background-image: url(../images/dashboard/account-img.png);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-color:white;
    border-radius:50px;
}

#toprwtoM-profile-txt{
    position:absolute;
    top:15px;
    left:115px;
    color:black;
    font-family:akrobat-black;
    font-size:25px;
}
#toprwtoM-profile-txt2{
    position:absolute;
    top:50px;
    left:125px;
    color:black;
    font-family:
}

#toprwtoM-profile-txt3{
    position:absolute;
    top:25px;
    left:235px;
    color:black;
    font-family: akrobat-reg;
    font-size:15px; 
}

#toprwtoM-row{
    position:absolute;
    
    top:100px;
    width:350px;
    height:1px;
    background-color:black;
    opacity:0.3;
}

#toprwtoM-body-txt1{
    position:absolute;
    top:120px;
    left:55px;
    color:black;
    font-family:akrobat-reg;
    font-size:20px;
}

#toprwtoM-body-txt2{
    position:absolute;
    top:120px;
    left:210px;
    color:orangered;
    font-family:akrobat-reg;
    font-size:20px;
}

#toprwtoM-body-txt3{
    position:absolute;
    top:180px;
    left:210px;
    color:dodgerblue;
    font-family:akrobat-reg;
    font-size:20px;
}

#toprwtoM-row2{
    position:absolute;
    top:240px;
    width:350px;
    height:1px;
     background-color:black;
    opacity:0.3;
}
#pictures{
    position:absolute;
    left:50px;
    top:160px;
    width:140px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/dashboard/profilesicons.png);
        background-color:transparent;
}
#Takoumpia{
    position:absolute;
    left:px;
    bottom:300px;
}
#toprwtoM-btn{
    position:absolute;
    
    width:175px;
    height:60px;
    top:240px;
    border-bottom-left-radius: 20px;
    border:none;
    background-color: lightgrey;
    
}
#toprwtoM-btn2{
  position:absolute;
    width:175px;
    height:60px;
    top:240px;
    left:175px;
    border-bottom-right-radius:20px;
    border:none;
    background-color:transparent;
}
#btn-title1{
    color:black;
}
/* ****************************************************************************************************************************** TO DEUTERO MEETING ************************************************************************************************** */
#to2M{
    position:absolute;
    top:40px;
    left:475px;
     width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
}
#to2M-profile{
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height: 60px;
    
    background-image: url(../images/dashboard/account-img.png);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-color:white;
    border-radius:50px;
}

#to2M-profile-txt{
    position:absolute;
    top:15px;
    left:125px;
    color:black;
    font-family:akrobat-black;
    font-size:25px;
}
#to2M-profile-txt2{
    position:absolute;
    top:50px;
    left:125px;
    color:black;
    font-family:
}

#to2M-profile-txt3{
    position:absolute;
    top:25px;
    left:225px;
    color:black;
    font-family: akrobat-reg;
    font-size:15px; 
}

#to2M-row{
    position:absolute;
    
    top:100px;
    width:350px;
    height:1px;
    background-color:black;
    opacity:0.3;
}

#to2M-body-txt1{
    position:absolute;
    top:120px;
    left:55px;
    color:black;
    font-family:akrobat-reg;
    font-size:20px;
}

#to2M-body-txt2{
    position:absolute;
    top:120px;
    left:210px;
    color:orangered;
    font-family:akrobat-reg;
    font-size:20px;
}

#to2M-body-txt3{
    position:absolute;
    top:180px;
    left:210px;
    color:dodgerblue;
    font-family:akrobat-reg;
    font-size:20px;
}

#to2M-row2{
    position:absolute;
    top:240px;
    width:350px;
    height:1px;
     background-color:black;
    opacity:0.3;
}
#pictures2{
    position:absolute;
    left:50px;
    top:160px;
    width:140px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/dashboard/profilesicons.png);
        background-color:transparent;
}
#Takoumpia2{
    position:absolute;
    left:px;
    top:px;
}
#to2M-btn{
    position:absolute;
    
    width:175px;
    height:60px;
    top:240px;
    border-bottom-left-radius: 20px;
    border:none;
    background-color: lightgrey;
    
}
#to2M-btn2{
  position:absolute;
    width:175px;
    height:60px;
    top:240px;
    left:175px;
    border-bottom-right-radius:20px;
    border:none;
    background-color:transparent;
}
#btn-title2{
    color:black;
}

/* ****************************************************************************************************************************** TO TRITO MEETING ************************************************************************************************** */

#to3M{
    position:absolute;
    top:40px;
    left:900px;
     width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
}
#to3M-profile{
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height: 60px;
    
    background-image: url(../images/dashboard/account-img.png);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-color:white;
    border-radius:50px;
}

#to3M-profile-txt{
    position:absolute;
    top:15px;
    left:115px;
    color:black;
    font-family:akrobat-black;
    font-size:25px;
}
#to3M-profile-txt2{
    position:absolute;
    top:50px;
    left:125px;
    color:black;
    font-family:
}

#to3M-profile-txt3{
    position:absolute;
    top:25px;
    left:235px;
    color:black;
    font-family: akrobat-reg;
    font-size:15px; 
}

#to3M-row{
    position:absolute;
    
    top:100px;
    width:350px;
    height:1px;
    background-color:black;
    opacity:0.3;
}

#to3M-body-txt1{
    position:absolute;
    top:120px;
    left:55px;
    color:black;
    font-family:akrobat-reg;
    font-size:20px;
}

#to3M-body-txt2{
    position:absolute;
    top:120px;
    left:210px;
    color:orangered;
    font-family:akrobat-reg;
    font-size:20px;
}

#to3M-body-txt3{
    position:absolute;
    top:180px;
    left:210px;
    color:dodgerblue;
    font-family:akrobat-reg;
    font-size:20px;
}

#to3M-row2{
    position:absolute;
    top:240px;
    width:350px;
    height:1px;
     background-color:black;
    opacity:0.3;
}
#pictures3{
    position:absolute;
    left:50px;
    top:160px;
    width:140px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/dashboard/profilesicons.png);
        background-color:transparent;
}
#Takoumpia3{
    position:absolute;
    left:px;
    top:px;
}
#to3M-btn{
    position:absolute;
    
    width:175px;
    height:60px;
    top:240px;
    border-bottom-left-radius: 20px;
    border:none;
    background-color: lightgrey;
    
}
#to3M-btn2{
  position:absolute;
    width:175px;
    height:60px;
    top:240px;
    left:175px;
    border-bottom-right-radius:20px;
    border:none;
    background-color:transparent;
}
#btn-title3{
    color:black;
}


/* 4ο  */

#to4M{
    position:absolute;
    top:400px;
    left:50px;
     width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
}
#to4M-profile{
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height: 60px;
    
    background-image: url(../images/dashboard/account-img.png);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-color:white;
    border-radius:50px;
}

#to4M-profile-txt{
    position:absolute;
    top:15px;
    left:115px;
    color:black;
    font-family:akrobat-black;
    font-size:25px;
}
#to4M-profile-txt2{
    position:absolute;
    top:50px;
    left:125px;
    color:black;
    font-family:
}

#to4M-profile-txt3{
    position:absolute;
    top:25px;
    left:235px;
    color:black;
    font-family: akrobat-reg;
    font-size:15px; 
}

#to4M-row{
    position:absolute;
    
    top:100px;
    width:350px;
    height:1px;
    background-color:black;
    opacity:0.3;
}

#to4M-body-txt1{
    position:absolute;
    top:120px;
    left:55px;
    color:black;
    font-family:akrobat-reg;
    font-size:20px;
}

#to4M-body-txt2{
    position:absolute;
    top:120px;
    left:210px;
    color:orangered;
    font-family:akrobat-reg;
    font-size:20px;
}

#to4M-body-txt3{
    position:absolute;
    top:180px;
    left:210px;
    color:dodgerblue;
    font-family:akrobat-reg;
    font-size:20px;
}

#to4M-row2{
    position:absolute;
    top:240px;
    width:350px;
    height:1px;
     background-color:black;
    opacity:0.3;
}
#pictures4{
    position:absolute;
    left:50px;
    top:160px;
    width:140px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/dashboard/profilesicons.png);
        background-color:transparent;
}
#Takoumpia4{
    position:absolute;
    left:px;
    top:px;
}
#to4M-btn{
    position:absolute;
    
    width:175px;
    height:60px;
    top:240px;
    border-bottom-left-radius: 20px;
    border:none;
    background-color: lightgrey;
    
}
#to4M-btn2{
  position:absolute;
    width:175px;
    height:60px;
    top:240px;
    left:175px;
    border-bottom-right-radius:20px;
    border:none;
    background-color:transparent;
}
#btn-title4{
    color:black;
}

/* 5ο  */

#to5M{
    position:absolute;
    top:400px;
    left:475px;
     width:350px;
    height: 300px;
    background-color:whitesmoke;
    border-radius: 20px;
    opacity:1;
}
#to5M-profile{
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height: 60px;
    
    background-image: url(../images/dashboard/account-img.png);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-color:white;
    border-radius:50px;
}

#to5M-profile-txt{
    position:absolute;
    top:15px;
    left:115px;
    color:black;
    font-family:akrobat-black;
    font-size:25px;
}
#to5M-profile-txt2{
    position:absolute;
    top:50px;
    left:125px;
    color:black;
    font-family:
}

#to5M-profile-txt3{
    position:absolute;
    top:25px;
    left:235px;
    color:black;
    font-family: akrobat-reg;
    font-size:15px; 
}

#to5M-row{
    position:absolute;
    
    top:100px;
    width:350px;
    height:1px;
    background-color:black;
    opacity:0.3;
}

#to5M-body-txt1{
    position:absolute;
    top:120px;
    left:55px;
    color:black;
    font-family:akrobat-reg;
    font-size:20px;
}

#to5M-body-txt2{
    position:absolute;
    top:120px;
    left:210px;
    color:orangered;
    font-family:akrobat-reg;
    font-size:20px;
}

#to5M-body-txt3{
    position:absolute;
    top:180px;
    left:210px;
    color:dodgerblue;
    font-family:akrobat-reg;
    font-size:20px;
}

#to5M-row2{
    position:absolute;
    top:240px;
    width:350px;
    height:1px;
     background-color:black;
    opacity:0.3;
}
#pictures5{
    position:absolute;
    left:50px;
    top:160px;
    width:140px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/dashboard/profilesicons.png);
        background-color:transparent;
}
#Takoumpia5{
    position:absolute;
    left:px;
    top:px;
}
#to5M-btn{
    position:absolute;
    
    width:175px;
    height:60px;
    top:240px;
    border-bottom-left-radius: 20px;
    border:none;
    background-color: lightgrey;
    
}
#to5M-btn2{
  position:absolute;
    width:175px;
    height:60px;
    top:240px;
    left:175px;
    border-bottom-right-radius:20px;
    border:none;
    background-color:transparent;
}
#btn-title5{
    color:black;
}



#skata {
    overflow-y: scroll;
    margin-bottom:200px;
}

/** Javascript rwtaligo*/


@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}