body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:585px;
	top:30px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#imgimgimg{
    position:absolute;
    
    height:200px;
    width:200px;
}




#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:150px;
	height:150px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:100px;
	left:250px;
	font-family:myriad-pro-reg;
	font-size:15px;
	color: white;
}

#name{
	font-size:23px;
}

#role{
	margin-left:30px;
}

#notification{
	position:relative;
    bottom:200px;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:115px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

#create-btn{
	position:absolute;
	
    top:650px;
	left:220px;
	
	width:300px;
	height:255px;
	
	background-image:url(../images/login/create_meeting1.png);
	background-repeat: no-repeat;
	background-color:Transparent;
	background-position:center;
    background-size:150px 150px;
	border: 4px solid white;
	border-radius:10px;
}

#create-btn1{
    position:absolute;
    
    top:957px;
	left:220px;
	
	
    width:300px;
	height:255px;
	
	background-image: url(../images/dashboard/upload-icon2);
    background-size: 100px 100px;
	background-repeat: no-repeat;
	background-color:Transparent;
	background-position:center;
	border: 4px solid white;
	border-radius:10px;
}

#btn-text{
	margin-top:200px;
	font-family:akrobat-reg;
	font-size:20px;
	color:white;
}

#spacer-1-background{
	position:absolute;
	top:600px;
	left:742px;
	
	width:945px;
	height:33px;
	

	background-image: linear-gradient(to right, Transparent, white 50%, Transparent 100%);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	opacity:0.4;
}

#spacer-1-text{
	position:absolute;
	top:600px;
	left:1130px;
	
	font-family:akrobat-black;
	font-size:23px;
	color:white;
	letter-spacing:2px
}

.lobby-button{
	width:274px;
	height:232px;
	background-color:#54cda7; 
	border:2px solid white;
	border-radius:10px;
}

#btn-1{
	position:absolute;
	top:660px;
	left:891px;
}

.lobby-text{
	color:white;
	font-size:29px;
	font-family:akrobat-black;
	letter-spacing:2px;
}

.lobby-subtext{
	color:white;
	font-size:22px;
	font-family:akrobat-black;
	letter-spacing:2px;
}

#btn-2{
	position:absolute;
	top:660px;
	left:1255px;
}

#spacer-2-background{
	position:absolute;
	top:917px;
	left:742px;
	
	width:945px;
	height:33px;
	

	background-image: linear-gradient(to right, Transparent, white 50%, Transparent 100%);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	opacity:0.4;
}

#spacer-2-text{
	position:absolute;
	top:917px;
	left:1130px;
	
	font-family:akrobat-black;
	font-size:23px;
	color:white;
	letter-spacing:2px
}

.past-lobby-button{
	width:274px;
	height:232px;
	background-color:#cd5454; 
	border:2px solid white;
	border-radius:10px;
}

#btn-3{
	position:absolute;
	top:980px;
	left:891px;
}

#btn-4{
	position:absolute;
	top:980px;
	left:1255px;
}



@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}