body{
	background-image: url(../images/login/bg_coord_tab.jpg);
}

#login-form{
	position: relative;
	
	margin-top: 89px;

}

#welcome-text{
	font-family: akrobat-black;
	text-align: center;
	color: white;
	font-size: 46px;
	
	margin-bottom: 80px;
}

img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:189px;
	
	margin-bottom: 80px;
}

form{
	margin: 20px auto;
	width:481px;
}

.input-bg{
	border-radius: 110px;
    background: white;
    width: 481px;
    height: 66px;
	
	border: none;
}

#username{
    padding-left: 75px;
	padding-bottom: 3px;

	
	background-image: url(../images/login/username-icon.png);
	background-repeat: no-repeat;
	background-position:3.5%;
	
	margin-bottom: 40px;
}

input[type="text"]{
	font-family: myriad-pro-bold;
    font-size:24px;
	color:#757575;
}

#password{
	position:relative;
    padding-left: 75px;
	padding-bottom: 3px;
	
	background-image: url(../images/login/password-icon.png);
	background-repeat: no-repeat;
	background-position:3.5%;
	margin-bottom: 100px;
}

#show-pass{
	position:absolute;
	margin-left:-60px;
	margin-top: 14px;
	
	width:35px;
	height:35px;
	background-image: url(../images/login/show-password.png);
	background-color: Transparent;
	border: Transparent;
}

input[type="password"]{
	font-family: myriad-pro-bold;
    font-size:24px;
	color:#757575;
}

#login-button{
	font-family: myriad-pro-bold;
	font-size:24px;
	line-width:200px;
}



@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}