body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

.album{
    position:absolute   ;
    top:400px;
    left:785px;   
}

.album1{
    position:absolute;
    top:400px;
    left:635.5px;   
}
.album2{
    position:absolute;
    top:400px;
    left:934.5px;   
}
#photos{

    
    background-color:lightblue;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px  white;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity:0.3;
    
}
#files1:hover{
     background-color:lightblue;
    background-image:none;
    opacity:0.3;
}
#photostxt{
    position:absolute;
    left:820px;
    top:410px;
    color:white;
    font-family:akrobat-black;
    font-size:25px;
}

#videos{
    
     background-color:yellowgreen;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px   white;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity:;
   
}
#videos:hover{
     background-color:lightblue;
    background-image:none;
    opacity:0.3;
}
#videostxt{
    position:absolute;
    left:670px;
    top:410px;
    color:white;
    font-family:akrobat-black;
    font-size:25px;
}
#files1{
    background-color:#cc5454;
    background-image:none;
    
    
    width:150px;
    height:60px;
    border:1px  white;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#files1txt{
    position:absolute;
    left:40px;
    top:10px;
    color:white;
    font-family:akrobat-black;
    font-size:30px;
}

#backgroundfiles{
    position:absolute;
    top:460px;
    left:100px;
    width:1600px;
    height: 670px;
    background-color:white;
    opacity:0.2;
    border-radius: 20px;
}
#img3{
    
    
}

#back{
	position:absolute;
	left:150px;
	top:1100px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}


.face-btn-text1{
	font-family:akrobat-black;
	font-size:42px;
	color:white;
	
	margin-top:10px;
}

#upload{
	position:absolute;
	left:1400px;
	top:1050px;
    
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}



.pdf_files{
    position:absolute;
    background-color:transparent;
}
#pdf_filetxt{
    position:relative;
    left:10px;
    top:120px;
    font-family:akrobat-reg;
    font-size:16px;
    color:white;
}
#pdf_file1{
    position:absolute;
    top:550px;
    left:180px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage1.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file2{
    position:absolute;
    top:550px;
    left:480px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage2.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
    
}

#pdf_file3{
    position:absolute;
    top:550px;
    left:780px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage3.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file4{
    position:absolute;
    top:550px;
    left:1080px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage4.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file5{
    position:absolute;
    top:550px;
    left:1380px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage5.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file6{
    position:absolute;
    top:850px;
    left:180px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage6.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file7{
    position:absolute;
    top:850px;
    left:480px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage7.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
    
}

#pdf_file8{
    position:absolute;
    top:850px;
    left:780px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage8.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file9{
    position:absolute;
    top:850px;
    left:1080px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage9.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}

#pdf_file10{
    position:absolute;
    top:850px;
    left:1380px;
    width:150px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage10.jpeg);
    background-repeat: no-repeat;
    background-size:150px 150px;
    border: none;
}




.btn-circle {
  position:relative;
  width: 40px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 20px;
  background-color:transparent;
  outline: none;
    border:none;
}


#container1{
	width:130px;
    height:100px;
    position:absolute;
	left:100px;
}

#container2{
	width:130px;
    height:100px;
    position:absolute;
}

#container3{
	width:130px;
    height:100px;
    position:absolute;
}

#container4{
	width:130px;
    height:100px;
    position:absolute;
}

#container5{
    width:130px;
    height:100px;
    position:absolute;
}
#container6{
    width:130px;
    height:100px;
    position:absolute;
}
#container7{
    width:130px;
    height:100px;
    position:absolute;
}
#container8{
    width:130px;
    height:100px;
    position:absolute;
}
#container9{
    width:130px;
    height:100px;
    position:absolute;
}
#container10{
    width:130px;
    height:100px;
    position:absolute;
}
/* KOUMPI 1 */

.icon10{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	top:495px;
	left:160px;

}

.icon11{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	top:520px;
	left:230px;
}

.icon12{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:580px;
	left:270px;
}

.icon13{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:480px;
    left:90px;        
}

.icon13:before{
    content: "ALL";
}

.icon14{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
     height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:660px;
	left:270px;
    
    color:white;
}

/* KOUMPI 2 */


.icon20{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	top:500px;
	left:570px;
}

.icon21{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    position:absolute;
	top:520px;
	left:490%;
}

.icon22{
    background-image:url(../images/dashboard/iphone-icon.png);	
    background-size:40px 60px;
    background-repeat:no-repeat;
    position:absolute;
	top:580px;
	left:520%;
}

.icon23{
    position:absolute;
    
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    border-radius:50%;
    text-align: center;
    border:1px solid white;
    
    color:white;
    
    top:480px;
    left:500px;
    
}
.icon23:before{
    content:"ALL";
}



/* KOUMPI 3 */

.icon30{
	background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    position:absolute;
    top:500px;
    left:670%;
}

.icon31{
	position:absolute;
	background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    position:absolute;
    
    top:520px;
	left:720%;
}

.icon32{
	position:absolute;
	background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat:no-repeat;
    top:580px;
	left:750%;
}

.icon33{
    position:absolute;
    
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    border-radius:50%;
    text-align: center;
    border:1px solid white;
    
    color:white;
    
    top:480px;
    left:800px;
    
}
.icon33:before{
    content:"ALL";
}


/* KOUMPI 4 */

.icon40{
	background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    position:absolute;
    top:500px;
    left:900%;
}

.icon41{
	position:absolute;
	background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    position:absolute;
    
    top:520px;
	left:950%;
}

.icon42{
	position:absolute;
	background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat:no-repeat;
    top:580px;
	left:980%;
}

.icon43{
    position:absolute;
    
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    border-radius:50%;
    text-align: center;
    border:1px solid white;
    
    color:white;
    
    top:480px;
    left:1100px;
    
}


.icon43:before{
    content:"ALL";
}


/* KOUMPI 5 */

.icon54{
    position:absolute;
    
    height:40px;
    width:40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    border-radius:50%;
    text-align:center;
    border:1px solid white;
    
    color:white;
    
    top:480px;
    left:1400px;
}
.icon54:before{
    content:"ALL";
}



.icon50{
    position:absolute;
    background-image: url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
    top:500px;
    left:1470px;
}
.icon51{
    position:absolute;
    background-image: url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    top:520px;
    left:1540px;
}
.icon52{
    position:absolute;
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size: 40px 60px;
    background-repeat: no-repeat;
    top:580px;
    left:1570px;
}

.icon53{
    position:absolute;
    background-image:url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    top:660px;
    left:1570px;
}


/* KOUMPI 6 */

.icon60{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	bottom:-755px;
	left:260px;

}

.icon61{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	bottom:-780px;
	left:330px;
}

.icon62{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:880px;
	left:370px;
}

.icon63{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:780px;
    left:190px;        
}

.icon63:before{
    content: "ALL";
}

.icon64{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:960px;
	left:370px;
    
    color:white;
}



/* KOUMPI 7 */


.icon70{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	bottom:-755px;
	left:560px;

}

.icon71{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	bottom:-780px;
	left:630px;
}

.icon72{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:880px;
	left:670px;
}

.icon73{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:780px;
    left:490px;        
}

.icon73:before{
    content: "ALL";
}

.icon74{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:960px;
	left:670px;
    
    color:white;
}


/* KOUMPI 8 */



.icon80{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	bottom:-755px;
	left:860px;

}

.icon81{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	bottom:-780px;
	left:930px;
}

.icon82{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:880px;
	left:970px;
}

.icon83{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:780px;
    left:790px;        
}

.icon83:before{
    content: "ALL";
}

.icon84{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:960px;
	left:970px;
    
    color:white;
}

.icon90{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	bottom:-755px;
	left:1160px;

}

.icon91{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	bottom:-780px;
	left:1230px;
}

.icon92{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:880px;
	left:1270px;
}

.icon93{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:780px;
    left:1090px;        
}

.icon93:before{
    content: "ALL";
}

.icon94{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:960px;
	left:1270px;
    
    color:white;
}


.icon100{
    background-image:url(../images/dashboard/tv-icone.png);
    background-size:40px 40px;
    background-repeat:no-repeat;
	position:absolute;
	bottom:-755px;
	left:1460px;

}

.icon101{
    background-image:url(../images/dashboard/tablet-icone.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
	position:absolute;
	bottom:-780px;
	left:1530px;
}

.icon102{
    background-image:url(../images/dashboard/iphone-icon.png);
    background-size:40px 60px;
    background-repeat: no-repeat;
	position:absolute;
	top:880px;
	left:1570px;
}

.icon103{
    position:absolute;
    color: white;
    height:40px;
    width:40px;
    font-family: akrobat-reg;
    border: 2px solid white;
    font-size:23px;
    border-radius:50%;
    text-align:center;
    
    
    top:780px;
    left:1390px;        
}

.icon103:before{
    content: "ALL";
}

.icon104{
    position:absolute;
    background-image: url(../images/dashboard/search-icon.png);
    background-size:40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    
    font-size:25px;
    font-family:akrobat-reg;
    
    
    
    top:960px;
	left:1570px;
    
    color:white;
}


@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}