body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

.album{
    position:absolute   ;
    top:400px;
    left:785px;   
}

.album1{
    position:absolute;
    top:400px;
    left:635.5px;   
}
.album2{
    position:absolute;
    top:400px;
    left:934.5px;   
}
#photos{

    
    background-color:yellowgreen;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px  white;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity:;
    
}
#files1:hover{
     background-color:lightblue;
    background-image:none;
    opacity:0.3;
}
#photostxt{
    position:absolute;
    left:820px;
    top:410px;
    color:white;
    font-family:akrobat-black;
    font-size:25px;
}

#videos{
    
     background-color:lightblue;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px   white;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity:0.3;
   
}
#videos:hover{
     background-color:lightblue;
    background-image:none;
    opacity:0.3;
}
#videostxt{
    position:absolute;
    left:670px;
    top:410px;
    color:white;
    font-family:akrobat-black;
    font-size:25px;
}
#files1{
    background-color:#cc5454;
    background-image:none;
    
    
    width:150px;
    height:60px;
    border:1px  white;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#files1txt{
    position:absolute;
    left:40px;
    top:10px;
    color:white;
    font-family:akrobat-black;
    font-size:30px;
}

#backgroundfiles{
    position:absolute;
    top:460px;
    left:100px;
    width:1600px;
    height: 670px;
    background-color:white;
    opacity:0.2;
    border-radius: 20px;
}

#back{
	position:absolute;
	left:150px;
	top:1050px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

.videos{
    position:absolute;
    top:500px;
    left:140px;  
}


.face-btn-text1{
	font-family:akrobat-black;
	font-size:42px;
	color:white;
	
	margin-top:10px;
}

#upload{
	position:absolute;
	left:1400px;
	top:1050px;
    
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}