body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

.ml3 {
  font-weight: 1400;
  font-size: 3.5em;
}
#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

.notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}


.container{
    
    margin-top:700px;
    margin-left:200px;
}

.calendar-base {
  width: 1500px;
  height: 600px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  z-index: -1;
  color: black;
}

.year {
  color: #E8E8E8;
  font-size: 30px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
  font-weight: bold;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  right: 90px;
  top: 36px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  left: 20px;
  top: 36px;
}
.triangle-left:hover{
  border-right: 10px solid#2ECC71;
}
.triangle-right:hover{
  border-left: 10px solid#2ECC71;
}

.month-color {
  color: #CC5454;
}
.month-hover:hover{
  color:#27e879 !important;
}

.months {
  font-size:30px;
  color: #AAAAAA;
  position: relative;
  left: 320px;
  top: 20px;
  word-spacing: 24px;
}

.month-line {
  border-color: #E8E8E8;
  position: relative;
  top: 2    5px;
  width: 90%;
  left: 75px;
}

.days {
  color: #CC5454;
  position: relative;
  font-size: 40px;
  left: 360px;
  top: 30px;
  word-spacing: 70px;
  font-weight: 1000;
}

.num-dates {
  float: right;
  position: relative;
  top: 110px;
  right: 400px;
  z-index: 1;
    
}

.first-week {
    position: relative;
    left:290px;
    margin-top:-30px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.second-week {
   position: relative;
    left:290px;
    margin-top:-10px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.third-week {
   position: relative;
    left:290px;
    margin-top:-10px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.fourth-week {
   position: relative;
    left:290px;
    margin-top:-10px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.fifth-week {
  position: relative;
    left:290px;
    margin-top:-10px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.sixth-week {
   position: relative;
    left:290px;
    margin-top:-10px;
  margin-bottom: 15px;
  word-spacing: 110px;
    font-size:35px;
}

.active-day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CC5454;
  position: relative;
  top: 300px;
  left: 1028px;
}

.white {
  color: white;
}

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2980B9;
  position: relative;
  top: 304px;
  left: 805px;
}

.two {
  position: relative;
  top: 168px;
  left: 535px;
}

.grey {
  color: #AAAAB1;
}

.calendar-left {
  width: 300px;
  height: 600px;
  border-radius: 20px 0px 0px 20px;
  background-color: #CC5454;
  position: relative;
  z-index: -1;
  bottom: 600px;
  color: white;
}

.hamburger {
  position: relative;
  top: 25px;
  left: 25px;
}

.burger-line:hover, .hamburger:hover{
  background-color:#27e879 !important;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 3px;
}

.num-date {
  font-size: 150px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
   
}

.day {
  width: 50%;
  margin: 0px auto;
  font-size: 30px;
  position: relative;
  bottom: 40px;
  right: 10px;
}

.current-events {
  font-size: 15px;
  position: relative;
  margin-left: 25px;
  bottom: 30px;
}
    
.livemeet{
    color:white;
    position:relative;
    bottom:720px;
    left:30px;
    font-family:akrobat-black;
}
.shithappens {
    color:white
  text-decoration: underline dotted;
}
.posts:hover{
  color:#27e879 !important;
}

.create-event {
  font-size: 20px;
  position: relative;
  margin-top: 56px;
  margin-left: 30px;
  font-family:akrobat-reg;
}

.event-line {
  width: 100%;
}

.add-event {
  width: 26px;
  height: 26px;
  padding: 0px;
  border-radius: 50%;
  border: solid white 2px;
  position: relative;
  bottom: 66px;
  left: 220px;
}

.add {
  font-size: 20px;
  position: relative;
  left: 4px;
  bottom: 5px;
}
#back{
	position:absolute;
	left:150px;
	top:1450px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

.face-btn-text1{
	font-family:akrobat-black;
	font-size:42px;
	color:white;
	
	margin-top:10px;
}

.add:hover, .create-event:hover, .add-event:hover{
  color:#27e879 !important;
  border-color: #27e879 !important;
}   

