body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu-meeting-time{
	position:absolute;
	right:500px;
	top:30px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile-meeting-time {
	position: absolute;
	left:70px;
	top:60px;
}

#prof-pic-meeting-time{
	position:relative;
	width:150px;
	height:150px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}


#profile-txt-meeting-time{
	position:absolute;
	top:100px;
	left:250px;
	font-family:myriad-pro-reg;
	font-size:15px;
	color: white;
}

#name{
	font-size:30px;
}

#role{
	margin-left:30px;
}
#notification-meeting-time{
	position:relative;
    bottom:150px;
    right:30px;
    
}

#notification-background{
	position:absolute;
	top:410px;
	left:601px;
	
	width:700px;
	height:65px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:610px;
	width:50px;
	height:50px;
	
}

#notification-text{
	position:absolute;
	left:817px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:25px;
	color:white;
}

#section-meeting-time{
	position:absolute;
	top:110px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

#body-buttons{
	position:absolute;
	top:909px;
	left:90px;
}

.body-btn{
	width:250px;
	height:200px;
	
	background-color: Transparent;
	
	border: 3px solid white;
	border-radius:10px;
	
}

.body-btn:active{
	background-color:#54cda7;
}

#home-btn{
	position:relative;
	margin-right:202px;
	
	background-image: url(../images/dashboard/todo-icon.png);
    background-size: 60px;
	background-repeat:no-repeat;
	background-position:center;
}

#home-text{
	position:absolute;
	bottom:12px;
	left:90px;
	
	font-family:akrobat-reg;
	font-size:18px;
	color:white;
	
	
	letter-spacing: 2px;
}

#meetings-btn{
	position:relative;
	
	margin-right:202px;
	
	background-image: url(../images/dashboard/facetime-icon.png);
	background-repeat:no-repeat;
	background-position:center;
     background-size: 60px;
}

#meetings-text{
	position:absolute;
	bottom:12px;
	left:90px;
	
	font-family:akrobat-reg;
	font-size:18px;
	color:white;
	
	
	letter-spacing: 2px;
}

#files-btn{
	position:relative;
	right:0px;
	background-image: url(../images/dashboard/files-icon.png);
	background-repeat:no-repeat;
	background-position:center;
     background-size: 60px;
}

#files-text{
	position:absolute;
	bottom:12px;
	left:100px;
	
	font-family:akrobat-reg;
	font-size:18px;
	color:white;
	
	
	letter-spacing: 2px;
}

#screens-btn{
	position:relative;
    left:190px;
	background-image: url(../images/dashboard/);
	background-repeat:no-repeat;
	background-position:center;
     background-size: 60px;
}

#screens-text{
	position:absolute;
	bottom:12px;
	left:90px;
	
	font-family:akrobat-reg;
	font-size:18px;
	color:white;
	
	
	letter-spacing: 2px;
}

#meetingTimeVideosBack{
  position: absolute;
  left:120px;
  top:1140px;
  height:90px;
  background-color:#cc5454;
}

.form-popup{
    position:absolute;
    top:1000px;
    left:50px;
  display:none;
}
.btn-photo{
    position:absolute;
    width:100px;
    height:30px;
    bottom:50px;
    left:345px;
    background-color: #cc5454;
	font-size:15px;
    color:white;
    font-family: akrobat-reg;
	border: 1px solid white;
	border-radius:10px;
}

.btn-video{
    position:absolute;
    width:100px;
    height:30px;
    top:-30px;
    left:345px;
    background-color: #cc5454;
	font-size:15px;
    color:white;
    font-family: akrobat-reg;
	border: 1px solid white;
	border-radius:10px;
}

.btn-pdf{
    position:absolute;
    width:100px;
    height:30px;
    top:20px;
    left:345px;
    background-color: #cc5454;
	font-size:15px;
    color:white;
    font-family: akrobat-reg;
	border: 1px solid white;
	border-radius:10px;
}

.btn-PP{
    position:absolute;
    width:100px;
    height:30px;
    top:70px;
    left:345px;
    background-color: #cc5454;
	font-size:15px;
    color:white;
    font-family: akrobat-reg;
	border: 1px solid white;
	border-radius:10px;
}

div.ex3 {
    margin-top:300px;
    background-color: lightblue;
    width: 500px;
    height: 500px;
    overflow: auto;
}
.ex4{
    width:20px;
    height:20px;
    background-color:blue;
}
@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}