body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}



#contact-form{
    position:absolute;
    top:400px;
    color:white;
    font-family:akrobat-reg;
    font-size:19px;
    
    
}
#fname{
    position:absolute;
    width:200px;
    height: 50px;
    top:200px;
    left:700px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
    
}
#fnametxt{
    position:relative;
    top:600px;
    left:600px;
    color:white;
    font-family:akrobat-reg;
    font-size:19px;
    
}
#lname{
    position:absolute;
    width:200px;
    height: 50px;
    top:300px;
    left:700px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}

::placeholder{
    color: white;
}

#e-mail{
    position:absolute;
    width:200px;
    height: 50px;
    top:400px;
    left:700px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}

#e-mail2{
    position:absolute;
    width:200px;
    height: 50px;
    top:500px;
    left:700px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}
#verynewpassword{
    position:absolute;
    width:200px;
    height: 50px;
    top:200px;
    left:1000px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}

#newpassword{
    
    position:absolute;
    width:200px;
    height: 50px;
    top:300px;
    left:1000px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;

}
#repeatpassword{
    position:absolute;
    width:200px;
    height: 50px;
    top:400px;
    left:1000px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}

#address{
    position:absolute;
    width:200px;
    height: 50px;
    top:500px;
    left:1000px;
    border:0;
    outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
    font-size:15px;
    font-family:akrobat-reg;
    color:white;
}

#profile-container{
    position:absolute;
    top:680px;
    left:250px;
    border:5px solid white;
    border-radius: 200px;
}

#imageUpload{
    width: 90px;
    height: 30px;
    position:absolute;
    top:920px;
    left:310px;
    color:white;
    border:1px solid white;
    border-radius: 10px;
    background-color:white;
    
}

.footer-btn{
	width:220px;
	border:2px solid white;
	border-radius:10px;
}

.footer-btn-text{
	font-family:akrobat-black;
	font-size:22px;
	color:white;
	
	margin-top:10px;
}

#save{
	
	position:absolute;
	left:1100px;
	bottom:70px;

	width:100x;
	height:90px;
	
	background-color:#54cda7;
    color:white;
    font-family:akrobat-black;
    font-size:25px;
    text-align: center;
}

#delete{
	
	position:absolute;
	left:850px;
	bottom:70px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;

}

#back{
	position:absolute;
	left:250px;
	bottom:70px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
    font-family:akrobat-black;
	font-size:22px;
	color:white;
	
	margin-top:10px;
}
@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff);
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff);
}