.btn-presentation{
	width:100px;
	height:30px;
	background-color: #cc5454;
	font-size:15px;
	color:white;
	font-family: akrobat-reg;
	border: 1px solid white;
	border-radius:10px;
}

.disabled{
	background-color: :#2c2c2c;
}

@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}