body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}

.album{
    position:absolute   ;
    top:400px;
    left:785px;   
}

.album1{
    position:absolute;
    top:400px;
    left:635.5px;   
}
.album2{
    position:absolute;
    top:400px;
    left:934.5px;   
}
#photos{

    
    background-color:#cc5454;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px  white;
    border-radius:5px;
    border-style: solid;
    border-width:1px;
    
}

#videos{
    
     background-color:#cc5454;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px   white;
    border-radius:5px;
     border-style: solid;
    border-width:1px;
}
#files1{
    background-color:#cc5454;
    background-image:none;
    
    color:white;
    font-family:akrobat-reg;
    width:150px;
    height:60px;
    border:1px  white;
    border-radius:5px;
     border-style: solid;
    border-width:1px;
}


#img3{
    
    
}

#back{
	position:absolute;
	left:150px;
	top:1050px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}


.pdf-menu{
    position:absolute;
    background-color:transparent;
}
#img_filetxt{
    position:relative;
    left:3px;
    top:120px;
    font-family:akrobat-reg;
    font-size:16px;
    color:white;
}
#img_filetxt1{
    position:relative;
    left:250px;
    top:710px;
    font-family:akrobat-reg;
    font-size:16px;
    color:white;
}
#img_1{
    position:absolute;
    top:550px;
    left:180px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage1.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#img_1:hover {opacity: 0.7;}
#img_2{
    position:absolute;
    top:550px;
    left:480px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage2.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
    
}

#img_3{
    position:absolute;
    top:550px;
    left:780px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage3.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_4{
    position:absolute;
    top:550px;
    left:1080px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage4.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_5{
    position:absolute;
    top:550px;
    left:1380px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage5.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_6{
    position:absolute;
    top:800px;
    left:180px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage6.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_7{
    position:absolute;
    top:800px;
    left:480px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage7.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
    
}

#img_8{
    position:absolute;
    top:800px;
    left:780px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage8.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_9{
    position:absolute;
    top:800px;
    left:1080px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage9.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#img_10{
    position:absolute;
    top:800px;
    left:1380px;
    width:250px;
    height: 150px;
    background-color:transparent;
    background-image:url(../images/dashboard/theimage10.jpeg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    border: none;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: ;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.face-btn-text1{
	font-family:akrobat-black;
	font-size:42px;
	color:white;
	
	margin-top:10px;
}

#upload{
	position:absolute;
	left:100px;
	top:50px;
    
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}