body{
	background-image: url(../images/dashboard/background-dash.jpg);
}

#menu{
	position:absolute;
	right:146px;
	top:120px;
}


.menu-button{
	width:50px;
	height:50px;
	background-color: Transparent; 
	border:none;

}

.menu-button.active {
 -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#home{
	background-image: url(../images/dashboard/home-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#meeting{
	background-image: url(../images/dashboard/meeting-icon.png);
	background-size: 50px 50px;
	margin-right:80px;
}

#files{
	background-image: url(../images/dashboard/files-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}

#contact{
	background-image: url(../images/dashboard/contact-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#calendar{
	background-image: url(../images/dashboard/calendar-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#settings{
	background-image: url(../images/dashboard/settings-icon.png);
	background-size: 50px 50px;
	
	margin-right:80px;
}
#user-profile {
	position: absolute;
	left:70px;
	top:60px;
}
#search{
	background-image: url(../images/dashboard/search-icon.png);
	background-size: 50px 50px;
	
	/* margin-right:40px; */
}

#prof-pic{
	position:relative;
	width:208px;
	height:208px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 7px;
	
	
}

#state{
	position:absolute;
	top:154px;
	left:158px;
	background-color:#bcee65;
	width:40px;
	height:40px;
	border-radius: 100px;
	
	border-style: solid;
    border-color: white;
	border-width: thick 4px;
}

#profile-txt{
	position:absolute;
	top:120px;
	left:360px;
	font-family:myriad-pro-reg;
	font-size:22px;
	color: white;
}

#name{
	font-size:26px;
}

#role{
	margin-left:19px;
}

#notification{
	position:relative;
}

#notification-background{
	position:absolute;
	top:410px;
	left:401px;
	
	width:998px;
	height:85px;
	border-radius:100px;
	background-color:white;
	opacity:0.12;
}

#notification-image{
	position:absolute;
	top:418px;
	left:410px;
	width:70px;
	height:70px;
	
}

#notification-text{
	position:absolute;
	left:717px;
	top:425px;
	
	font-family:akrobat-reg;
	font-size:35px;
	color:white;
}

#section{
	position:absolute;
	top:254px;
	left:860px;
	
	font-family:akrobat-reg;
	font-size:28px;
	color:white;
	letter-spacing: 3px;
}


.face-btn-text{
	font-family:akrobat-black;
	font-size:25px;
	color:white;
	
	margin-top:10px;
}

.face-btn-text1{
	font-family:akrobat-black;
	font-size:42px;
	color:white;
	
	margin-top:10px;
}

#tablet{
	
	position:absolute;
	left:280px;
	top:750px;

	width:220x;
	height:60px;
	
	background-color:#54cda7;
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

#smartphone{
	position:absolute;
	left:1400px;
	top:750px;

	width:220x;
	height:60px;
	
	background-color:#54cda7;
    background-image:none;
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

#tvid{
	position:absolute;
	left:800px;
	top:750px;

	width:220x;
	height:60px;
	
	background-color:#54cda7;
    width:220px;
	border:2px solid white;
	border-radius:20px;
}


#settingsbottomside{
	position:absolute;
	left:100px;
	top:880px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}

#back{
	position:absolute;
	left:100px;
	top:1050px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px;
}
#end{
   position:absolute;
	left:1400px;
	top:1050px;
    
	width:270x;
	height:90px;
	
	background-color:#cc5454;
    background-image: none;
    
    width:220px;
	border:2px solid white;
	border-radius:20px; 
}

#phone{
    position:relative;
    bottom:200px;
    left:1400px;
    background-image:url(../images/dashboard/mobilephone-icon.png);\
    background-size:;
    background-repeat: no-repeat;
    background-color:transparent;
    border:none;
    width:200px;
    height: 400px;
}

#tv{
    position:relative;
    top:400px;
    left:200px;
    background-image:url(../images/dashboard/tv1-icon.png);
    background-size:50% 50%;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
    width:800px;
    height:500px;
}

#previewtablet{
    position:relative;
    bottom:500px;
    left:750px;
    background-image:url(../images/dashboard/tablet1-icon.png);
    background-size:50% 50%;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
    width:800px;
    height:500px;
}

#tabletdiv1{
    position:relative;
    top:400px;
    left:1400px;
    background-image:url(../images/dashboard/tablet-icon.png);
    background-size:70% 60%;
    background-repeat: no-repeat;
    background-color:transparent;
    border:none;
    width:500px;
    height: 358px;
    
}


#kiklaki{
	position:absolute;
	left:750px;
	top:980px;
    
	width:250x;
	height:250px;
	
	background-color:#ff7657;
    background-image: none;
    
    width:250px;
	border:2px solid white;
	border-radius:20px;
    background-color: #ff7657;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

#kiklakitxt{
    position:relative;
    font-family:akrobat-black;
	font-size:32px;
	color:white;
    top:10px;
}



@font-face {
    font-family: akrobat-reg;
    src: url(../fonts/Akrobat-Regular.woff);
}
@font-face {
    font-family: akrobat-black;
    src: url(../fonts/Akrobat-Black.woff);
}
@font-face{
	font-family: myriad-pro-bold;
	src: url(../fonts/Myriad-Pro-Bold.woff)
}
@font-face{
	font-family: myriad-pro-reg;
	src: url(../fonts/Myriad-Pro-Regular.woff)
}