/*red: #cc5454
green: 54cda7*/
body {
	background-image: url('../images/dashboard/background-dashMobile.jpg');
	overflow-y: hidden;
}

/*########################################################
                        MENU
########################################################*/
#menuTopbar {
	position: relative;
	right: 0px;
	width: 375px;
	height: 50px;
	background-color: #2f2f2f;
}

#menuSidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 70px;
	height: 667px;
	background-color: #2f2f2f;
}

#emptyPart {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 305px;
	height: 667px;
	background-color: rgba(0, 0, 0, 0.5);
	/* Transparent;*/
	border: none;
}

#OpenMenuBtn {
	position: absolute;
	right: 15px;
	top: 15px;
	background-image: url(../images/dashboard/menu-icon.png);
	background-color: inherit;
	background-repeat: no-repeat;
	background-size: 30px 20px;
	width: 30px;
	height: 20px;
	border: none;
	border-radius: none;
}

#imeetLogo {
	font-family: akrobat-black;
	font-size: 39px;
	text-align: center;
	top: 50px;
}

.sidebarBtn {
	background-color: inherit;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: none;
}

#meetingsBtn {
	position: absolute;
	top: 15px;
	right: 15px;

	background-image: url(../images/dashboard/meeting-icon.png);
}

#filesBtn {
	position: absolute;
	top: 80px;
	right: 15px;

	background-image: url(../images/dashboard/files-icon.png);
}

#calendarBtn {
	position: absolute;
	top: 145px;
	right: 15px;

	background-image: url(../images/dashboard/calendar-icon.png);
}

#settingsBtn {
	position: absolute;
	top: 210px;
	right: 15px;

	background-image: url(../images/dashboard/settings-icon.png);
}

/*########################################################
                        LOGIN
########################################################*/
#login-form {
	position: relative;

	left: 120px;
	top: 0px;
	height: 100%;
}

#welcome-text {
	font-family: akrobat-black;
	text-align: center;
	color: white;
	font-size: 35px;

	position: relative;
	right: 120px;

	margin-bottom: 80px;
}

#login-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 140px;
	height: 130px;

	position: relative;
	right: 120px;

	margin-bottom: 80px;
}

#username {
	position: relative;
	padding-left: 75px;
	padding-bottom: 3px;


	background-image: url(../images/login/username-icon.png);
	background-repeat: no-repeat;
	background-position: 3.5%;

	margin-bottom: 25px;

	right: 90px;
}

#password {
	position: relative;
	padding-left: 75px;
	padding-bottom: 3px;

	background-image: url(../images/login/password-icon.png);
	background-repeat: no-repeat;
	background-position: 3.5%;
	margin-bottom: 50px;

	right: 90px;
}

#show-pass {
	position: absolute;
	margin-left: -60px;
	margin-top: 14px;

	width: 35px;
	height: 35px;
	background-image: url(../images/login/show-password.png);
	background-color: Transparent;
	border: Transparent;
	right: 165px;
	top: 392px;
}

#login-button {
	position: relative;
	font-family: myriad-pro-bold;
	font-size: 24px;
	line-width: 200px;

	color: black;
	right: 90px;
}

input[type="text"] {
	font-family: myriad-pro-bold;
	font-size: 20px;
	color: #757575;
}

input[type="password"] {
	font-family: myriad-pro-bold;
	font-size: 24px;
	color: #757575;
}

.input-bg {
	border-radius: 110px;
	background: white;
	width: 315px;
	height: 40px;

	border: none;
}

/*########################################################
                       MEETING PAGE
########################################################*/
#meetings-profile {
	position: absolute;
	top: 50px;
	left: 67px;
	width: 240px;
	height: 80px;
}

#meetings-acc-img {
	position: absolute;
	top: 10px;
	left: 20px;
}

#meetings-profile-name {
	position: absolute;
	top: 20px;
	left: 100px;
}

#meetings-profile-team {
	position: absolute;
	top: 40px;
	left: 125;
}

#meetings-notification {
	position: absolute;
	top: 150px;
	left: 37px;
	width: 300px;
	height: 40px;
}

#meetings-notification-background {
	width: 300px;
	height: 40px;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.2);
}

#meetings-notification-image {
	position: absolute;
	left: 10px;
	top:5px;
}

#meetings-notification-text {
	position: absolute;
	right: 10px;
	top: 6px;
}

#live-meetings-container {
	position: absolute;
	top: 100px;
	width: 375px;
	height: auto;
}

#meetings-spacer-1 {
	position: absolute;
	top: 130px;
	left: 0px;
	height: 18px;
	width: 375px;
	background-color: rgba(255, 255, 255, 0.1);
}

#meetings-spacer-1-text {
	color: white;
	font-size: 16px;
	font-family: akrobat-reg;
	text-align: center;
	margin: -3px;
}

#live-meeting-btn {
	position: absolute;
	top: 185px;
	left: 110px;
	background-color: #54cda7;
}

#meetings-spacer-2 {
	position: absolute;
	top: 220px;
	left: 0px;
	height: 18px;
	width: 375px;
	background-color: rgba(255, 255, 255, 0.1);
}

#meetings-spacer-2-text {
	color: white;
	font-size: 16px;
	font-family: akrobat-reg;
	text-align: center;
	margin: -3px;
}

#past-meetings-container {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 375px;
	height: auto;
}

#past-meeting-btn-1 {
	position: absolute;
	top: 80px;
	left: 20px;
	background-color: #cc5454;
}

#past-meeting-btn-2 {
	position: absolute;
	top: 80px;
	right: 20px;
	background-color: #cc5454;
}
/*##########################PAST MEETINGS############################*/
#monthSelector{
	position: absolute;
	top:300px;
	left:37px;
	
	width:300;
	height:20px;
	background-color: rgba(255,255,255,0.2);
}

#month-text{
	text-align: center;
}

#month-selector-prev{
	position:absolute;
	top:-1px;
	left:0px;
}

#month-selector-next{
	position:absolute;
	top:-1px;
	right:8px;
}

#meetings-list{
	position:absolute;
	top:320px;
	left:37px;
	
	width:300px;
	height:300px;
	
	background-color: rgba(255, 255, 255, 0.2);
}
/*##################BEFORE MEETING#################################*/
#beforeMeetingParticipants{
  position:absolute;
  left:25px;
  top:250px;
  
  width:325px;
  height:400px;
}

#coordinatorDetails{
  position: absolute;
  top:220px;
  left:127px;
  width:120px;
  
  font-family: akrobat-reg;
  text-align: center;
}


#beforeMeetingCoord{
  width:70px;
  height:70px;
}

#loadingScreenStart{
  position:absolute;
  top:640px;
  left:160px;
  
  color:black;
}

/*PRESENTATION*/

.prSlide{
  position:absolute;
  top:0px;
  left:0px;
  height:667px;
  width:667px;
  transform:rotate(90deg);
}
/*##########################CLASSES#################################*/
.meeting-btn {
	width: 150px;
	height: 100px;
	border: solid 2px white;
	border-radius: 10px;
}

.profile-pic {
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50px;
}

.profile-name {
	color: white;
	font-size: 16px;
	font-family: akrobat-black;
	width: 120px;
}

.profile-team {
	color: white;
	font-size: 14px;
	font-family: akrobat-reg;
	width: 50px;
}

.notification {
	position: relative;
}

.notification-text {
	font-family: akrobat-reg;
	font-size: 19px;
	color: white;
}

.notification-image {
	width: 30px;
	height: 30px;
}

.meetings-meetingBtn-text {
	font-family: akrobat-reg;
	font-size: 15px;
}

.month-selector-btn{
	width:20px;
	height:20px;
	background-color:transparent;
	border:none;
}

@media only screen and (min-device-width : 375px) // or 213.4375em
and (max-device-width : 667px) // or 41.6875em
and (width : 375px) // or 23.4375em
and (height : 559px) // or 34.9375em

and (orientation : portrait) and (color : 8) and (device-aspect-ratio : 375/667) and (aspect-ratio : 375/559) and (device-pixel-ratio : 2) and (-webkit-min-device-pixel-ratio : 2) {}

@font-face {
	font-family: akrobat-reg;
	src: url(./fonts/Akrobat-Regular.woff);
}

@font-face {
	font-family: akrobat-black;
	src: url(./fonts/Akrobat-Black.woff);
}

@font-face {
	font-family: myriad-pro-bold;
	src: url(./fonts/Myriad-Pro-Bold.woff)
}
